@model IEnumerable<dynamic>

<h4>Месечен Анализ</h4>

<table class="table table-hover mt-4">
    <thead class="">
    <tr>
        <th>Месец</th>
        <th class="text-center">Силови (бр.)</th>
        <th class="text-center">Кардио (бр.)</th>
        <th class="text-center">Гъвкавост (бр.)</th>
        <th class="text-end">Килограми за месеца</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-capitalize">@item.Month</td>
            <td class="text-center">@item.StrengthCount</td>
            <td class="text-center">@item.CardioCount</td>
            <td class="text-center">@item.StretchCount</td>
            <td class="text-end"><strong>@item.TotalWeight.ToString("N0") кг</strong></td>
        </tr>
    }
    </tbody>
</table>